.oculto {
    display: none;
}

#img-banner {
    filter: brightness(50%);
}

.img-logo{
    width: 50px;
    height: 50px;
}

.navbar {
    background-color: white;
}

.navbar-text {
    color: #8C4819;
    font-family: 'Pacifico', cursive;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.my-logo-color {
    color: #8C4819;
}